body{
	background-color : #ECECEC;
	font-family : Garuda, Cambria;
	height: 100%;
	margin: 0;
	padding: 0;
}
#page {
	min-height:100vh; 
	display:flex; 
	flex-direction:column; 
}

.content {
	background-color : #ECECEC;
	font-family : Garuda, Cambria;
	height: 100%;
	min-height :100%;
	margin: 0;
	padding: 0;
}
.logo{
    margin-bottom: 2%;
	margin-top : 2%;
	margin-left : 1%;
	border-radius : 10px;
}
.banner{
	font-family : Garuda, Cambria;
	background-color : #4183D7;
	

}
#navbar{ 
	padding: 0;
	margin: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	
}

#navbar a {
	display:inline-block;
	margin: 0 1px;
}
.button{
	background-color: #607D8B;
	border-radius : 13%;
	padding: 14px 40px;
	text-align: center;
	border : none;
	color : white;
}
.button:hover
{
  -webkit-transition-duration: 0.5s; /* Safari */
  transition-duration: 0.5s;
   box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.button:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.textBox{
	font-family : Garuda, Cambria;
	margin-left : 2%;
	margin-right : 2%;
	text-align :center;
}
.textBox li{
	 list-style-type: none;
	 text-align : center;
}

.textBox table,th, td{
	margin-left : 40%;
	margin-right : 40%;
	text-align : center;
	border-style: solid;
    border-width: 1px;
	border-collapse: collapse;
}


div#slider { width: 80%; max-width: 100px; overflow :hidden; } 

div#slider figure {
  position: relative; 
  width: 500%;
  margin: 0;
  padding: 0;
  font-size: 0;
  text-align: left;
  left: 0;
  animation: 30s slidy infinite;
}

div#slider figure img { width: 20%; height: auto; float: left; }

@keyframes slidy {
  0% { left: 0%; }
  20% { left: 0%; }
  25% { left: -100%; }
  45% { left: -100%; }
  50% { left: -200%; }
  70% { left: -200%; }
  75% { left: -300%; }
  95% { left: -300%; }
  100% { left: -400%; }
}

